<% include partials/header%>

<div class="ui container">
	<div class="ui raised segment">
		<div class="ui form">
			<h1 class="ui header field">
				Organize Your Photos
			</h1>
			<a href="/photos/new" class="ui primary button field">
				Add Photo
			</a>
			<div class="ui three column grid field">
				<%photos.forEach((photo)=>{%>
					<div style="overflow:hidden;" class="column field">
						<img style="width:100%; margin:-28% 0;" src="<%=photo.source%>" alt="<%=photo.description%>">
						<a href="/photos/<%=photo._id%>"><button class="ui small button">More</button></a>
						<!-- <a href="/photos/<%=photo._id%>"><img style="width:100%; margin:-28% 0;" src="<%=photo.source%>" alt="<%=photo.description%>"></a> -->
					</div>
				<%})%>
			</div>	
		</div>
	</div>	
</div>



<% include partials/footer%>

